# Python
__pycache__/
*.py[cod]
.venv/
.env

# Data
data/
*.csv
*.parquet

# Notebooks
.ipynb_checkpoints/

# OS / IDE
.DS_Store
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# keep folder structure
!data/
!data/**/
!data/**/.gitkeep